.size {
    max-width: 600px;
    background-color: $bg-white;
    border-radius: 15px;
    margin: 2em auto;
    &_details {
         padding: 20px;
         &-image {
            @extend .flex;
            justify-content: left;
            h3 {
                display: inline;
                margin-left: 0.8em;
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 25px;
                object-fit: contain;
            }
        }
    }
    &-info {
        
        p {
            display: -webkit-box;
            max-width: 300px;
            color: $font-gray;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical; 
        }
        button {   
            margin-right: 0.5em;
            padding: 7px 12px;
            background: none;
            border: 1px solid $border;
            border-radius: 5px;
            cursor: pointer;
        }
        button:disabled {
            cursor: not-allowed;
        }
        
    }
    &-price {
        padding: 5px 0 20px;
        &-sale-price {
            padding-right: 20px;
            font-size: 20px;
        }
        &-price {
            font-size: 16px;
            color: $font-light-gray;
        }
    }

    .active {
        border: 1px solid $font-black;
    }
}